#body {
    background-image: url("/smart-watch.jpg");
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-position: center;
    


}

#display {

    background-color: #212121;
    border: .5px solid rgb(20, 28, 31);
    height: 327px;
    width: 301px;
    margin-left: 600px;
    margin-top: -525px;
}

i {
    font-size: 25px;
    

    margin-left: 1px;
    color: rgb(10, 50, 68);




}

#e {
    color: rgb(22, 110, 157);
    padding: 10px;
    display: none;


}

#r {

    color: rgb(232, 31, 148);
    margin-left: 38px;
    display: none;
}

#show {
    margin-left: 95px;
    margin-top: 4px;
    color: rgb(234, 131, 14);
    text-shadow: .7px .7px #e9e8e8;


}

.fa-futbol {
    position: absolute;
    color: rgba(211, 211, 211, 0.593);
    bottom: 12px;
    left: 90px;
    font-size: 0.8em;
    letter-spacing: 3px;
    margin-left: 612px;
    margin-bottom: 160px;
}

#m {
    color: rgb(22, 110, 157);
    padding: 10px;
    display: none;
}

#k {
    color: rgb(22, 110, 157);
    padding: 10px;
    display: none;
}

#shows {
    color: rgb(161, 176, 79);
    margin-top: 13px;
    margin-left: 70px;
    position: absolute;
    
}




/* dfgdg */
/* .inner {
    display: inline-block;
  } */
  
  .Btn {
    padding: 0;
    border: none;
    width: 40px;
    transition: 0.9s;
    height: 40px;
    margin: 6px;
    border-radius: 50px;
    background: rgb(58, 172, 210);
    row-gap: 40px;
    
    /* box-shadow: -1px 0px 12px #568fd9, 0px 2px 4px #68a6c9; */
  }
  
  .Btn:hover {
    cursor: pointer;
    width: 55px;
    border-radius: 50px;
    background: #efefef;
    box-shadow: inset -6px 6px 12px #ced0d9, inset 6px -6px 12px #d1d7de;
  }
  

  .msgs{
    font-size: 20px;
    text-align: center;
  }
  

  

  .divScroll {
    overflow:scroll;
    height:100px;
    width:200px;
    }