#body{
    background-image: url("/smart-watch.jpg");
    width: 100%;
    height:750px;
    background-repeat: no-repeat;
    background-position: center;
    
}
#display{
    background-color: #212121;
    border:.5px solid rgb(20, 28, 31);
    height: 260px;
    width: 301px;
    margin-left: 600px;
    margin-top: -525px;
}
#nav{
    background-color: #212121;
    border: .1px solid rgb(7, 7, 7);
    height: 69px;
    width: 301px;
    margin-left: 600px;
   

}

#music{
    font-size: 41px;
    margin-top: 1px;
    margin-left:2px;
    position: absolute;
}

#camera{
    font-size: 41px;
  
    
    margin-left: 79px;
}


#msg{
    margin-left: 154px;
    font-size: 37px;
    margin-top: -59px;
   
}
#clock{
    margin-left: 220px;
    font-size: 37px;
    margin-top: -55px;
}


i{

   color: rgb(20, 175, 222);
}


.fa-futbol {
    position: absolute;
    color: rgba(211, 211, 211, 0.593);
    bottom: 12px;
    left: 90px;
    font-size: 0.8em;
    letter-spacing: 3px;
    margin-left: 612px;
    margin-bottom: 160px;
}

#txt{
    text-align: center;
    margin-top: 90px;
    font-size:75px;
    font-family: 'Josefin Sans', sans-serif;
 
    color: rgb(127, 204, 65);
    text-shadow: 1.5px 1.5px #f7f7f8;
    
  
}